<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @operecionesaveri.fecha %>
</p>

<p>
  <strong>Hora averia:</strong>
  <%= @operecionesaveri.hora_averia %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @operecionesaveri.observacion %>
</p>

<p>
  <strong>Condicion:</strong>
  <%= @operecionesaveri.condicion %>
</p>

<p>
  <strong>Afecta:</strong>
  <%= @operecionesaveri.afecta %>
</p>

<p>
  <strong>Area:</strong>
  <%= @operecionesaveri.area %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @operecionesaveri.sector %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @operecionesaveri.equipo %>
</p>

<%= link_to 'Edit', edit_operecionesaveri_path(@operecionesaveri) %> |
<%= link_to 'Back', operecionesaveris_path %>
