<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @operadesviaprodu.fecha %>
</p>

<p>
  <strong>Hora inicio:</strong>
  <%= @operadesviaprodu.hora_inicio %>
</p>

<p>
  <strong>Hora termino:</strong>
  <%= @operadesviaprodu.hora_termino %>
</p>

<p>
  <strong>Tratamiento promedio:</strong>
  <%= @operadesviaprodu.tratamiento_promedio %>
</p>

<p>
  <strong>Afecta parcial:</strong>
  <%= @operadesviaprodu.afecta_parcial %>
</p>

<p>
  <strong>Total proceso:</strong>
  <%= @operadesviaprodu.total_proceso %>
</p>

<p>
  <strong>Area:</strong>
  <%= @operadesviaprodu.area %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @operadesviaprodu.sector %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @operadesviaprodu.equipo %>
</p>

<%= link_to 'Edit', edit_operadesviaprodu_path(@operadesviaprodu) %> |
<%= link_to 'Back', operadesviaprodus_path %>
