<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @mantenciondesviacion.fecha %>
</p>

<p>
  <strong>Hora inicio:</strong>
  <%= @mantenciondesviacion.hora_inicio %>
</p>

<p>
  <strong>Hora termino:</strong>
  <%= @mantenciondesviacion.hora_termino %>
</p>

<p>
  <strong>Tratamiento:</strong>
  <%= @mantenciondesviacion.tratamiento %>
</p>

<p>
  <strong>Afecta:</strong>
  <%= @mantenciondesviacion.afecta %>
</p>

<p>
  <strong>Area:</strong>
  <%= @mantenciondesviacion.area %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @mantenciondesviacion.sector %>
</p>

<p>
  <strong>Equipos:</strong>
  <%= @mantenciondesviacion.equipos %>
</p>

<%= link_to 'Edit', edit_mantenciondesviacion_path(@mantenciondesviacion) %> |
<%= link_to 'Back', mantenciondesviacions_path %>
