<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @mantencionafe.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @mantencionafe.hora %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @mantencionafe.observacion %>
</p>

<p>
  <strong>Condicion:</strong>
  <%= @mantencionafe.condicion %>
</p>

<p>
  <strong>Afecta:</strong>
  <%= @mantencionafe.afecta %>
</p>

<p>
  <strong>Area:</strong>
  <%= @mantencionafe.area %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @mantencionafe.sector %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @mantencionafe.equipo %>
</p>

<%= link_to 'Edit', edit_mantencionafe_path(@mantencionafe) %> |
<%= link_to 'Back', mantencionaves_path %>
